body {

   background-color:darkgrey;
   text-align: center;
   font-size: medium;
   font-family: 'Times New Roman', Times, serif; 
}
#my {

 background-color: azure;
 text-decoration: chartreuse;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: 800;
 font-style: italic;
}